<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html ng-app="kingDS">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DS King</title>
    <!-- Tell the browser to be responsive to screen width -->

  <link rel="shortcut icon" type="image/png" href="img/icon.png"/>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">

    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="style/main.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--<script src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-1.3.1.js"></script>-->
  <!--<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>-->
  <script src="bower_components/socket.io-client/socket.io.js"></script>

    <!--   AngularJS -->
    <script>
        //        var socket = io.connect("http://localhost");
    </script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="js/lb-services.js"></script>

    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-1.3.1.js"></script>
  <script src="bower_components/angular-ui-router-tabs/src/ui-router-tabs.js"></script>
  <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <!--<script src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>-->
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="mainCtrl">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Xp</b>ETL</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>XpETL</b> Tool</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->

                        <li>
                            <a ng-click="updateAngularSDK()" href data-toggle="control-sidebar"><i class="ion-social-angular"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">HEADER</li>
                    <!-- Optionally, you can add icons to the links -->
                    <!--<li class="treeview">-->
                        <!--<a href="#">-->
                            <!--<i class="fa fa-upload"></i>-->
                            <!--<span>Import Data</span>-->
                            <!--<i class="fa fa-angle-left pull-right"></i>-->
                        <!--</a>-->
                        <!--<ul class="treeview-menu">-->
                            <!--<li><a href ng-click="open('lg')"><i class="fa fa-circle-o"></i> import CSV</a></li>-->
                            <!--<li><a href="#"><i class="fa fa-circle-o"></i> Between Models</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li ui-sref-active="active" class="treeview">
                        <a href ui-sref="models">
                            <i class="fa fa-database"></i><span>Data Models</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="treeview">
                        <a href ui-sref="mapping">
                            <i class="fa fa-arrows-alt"></i><span>Data Mapping</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="treeview">
                        <a href ui-sref="importapi">
                            <i class="fa fa-globe"></i><span>Extract from API</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="treeview">
                        <a href ui-sref="importunitdata">
                            <i class="fa fa-globe"></i><span>Extract Unit Data</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="treeview">
                        <a href ui-sref="addDatasource">
                            <i class="fa fa-database"></i><span>Add Datasource</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="treeview">
                        <a href ui-sref="schedular">
                            <i class="fa fa-clock-o"></i><span>Schedular</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="treeview">
                        <a href="http://localhost:3000/explorer" target="_blank">
                            <i class="fa fa-database"></i><span>Explorer</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" class="treeview">
                        <a ui-sref= "elasticimport.api">
                            <i class="fa fa-database"></i><span>elastic-serach import</span>
                        </a>
                    </li>
                    <!--<li class="treeview">-->
                        <!--<a href ui-sref="csvlog">-->
                            <!--<i class="fa fa-arrows-alt"></i><span>Activity Log</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li ><a href="#"><i class="fa fa-link"></i> <span>Process</span></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-link"></i> <span>Output</span></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-link"></i> <span>Datasources</span></a></li>-->
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->


            <!-- Main content -->
            <section class="content">
                    <div ui-view></div>
                <!-- Your Page Content Here -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>

    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <script src="bower_components/angular-ui-bootstrap/src/modal/modal.js"></script>
    <!-- jQuery 2.1.4 -->

    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/mappingCtrl.js"></script>
    <script src="js/controllers/logCtrl.js"></script>
    <script src="js/controllers/sdkCtrl.js"></script>
    <script src="js/controllers/importAPICtrl.js"></script>
    <script src="js/controllers/addDatasourceCtrl.js"></script>
    <script src="js/controllers/importunitdataCtrl.js"></script>
    <script src="js/controllers/elasticimportCtrl.js"></script>
    <script src="js/controllers/elasticimportfileCtrl.js"></script>

</body>
</html>
