<div>


    <div class="row">
        <div class="col-md-5">
            <h2 class="page-header">Existing Datasources</h2>
            <div ng-repeat="ds in existingDSKeys" class="box box-info">
                <div class="box-header with-border">
                    <i class="fa fa-database"></i>

                    <h3 class="box-title">{{ds}}</h3>
                </div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div ng-repeat="(k, ds) in existingDS[ds]" class="form-group">
                            <label for="memory" class="col-sm-2 control-label">{{k}}</label>
                            <div class="col-sm-8 col-sm-offset-2">
                                <input ng-if="k != 'password'"  type="text" class="form-control" id="memory" ng-model="ds" disabled>
                                <input ng-if="k == 'password'"  type="password" class="form-control" id="memory" ng-model="ds" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <h2 class="page-header">Add New Datasources</h2>
            <form class="form-horizontal">
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <i class="fa fa-database"></i>

                        <h3 class="box-title">New Datasource</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" ng-model="NewDS.name" placeholder="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Connector</label>

                            <div class="col-sm-10">
                                <select class="form-control" ng-model="NewDS.connector">
                                    <option>mysql</option>
                                    <option>postgresql</option>
                                    <option>mongodb</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="host" class="col-sm-2 control-label">Host</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="host" ng-model="NewDS.host" placeholder="Host">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="database" class="col-sm-2 control-label">Database</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="database" ng-model="NewDS.database" placeholder="Database">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="schema" class="col-sm-2 control-label">Schema</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="schema" ng-model="NewDS.schema" placeholder="Database">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="port" class="col-sm-2 control-label">Port</label>

                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="port" ng-model="NewDS.port" placeholder="Port">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Username</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" ng-model="NewDS.username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" ng-model="NewDS.password" placeholder="Password">
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" ng-click="addDataSource(NewDS.name, NewDS)" class="btn btn-success pull-right">Add Datasource</button>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </form>

        </div>
    </div>

</div>
