<div class="section">

  <div class="table">
    <table class="table table-bordered">
      <thead>
      <td>
        Files
      </td>
      <td>
        Created
      </td>
      <td>
        Modified
      </td>
      </thead>
      <tr ng-repeat="file in csvlogfiles">
        <td ng-click="showfile(file.name)">{{file.name}}</td>
        <td>{{file.ctime}}</td>
        <td>{{file.mtime}}</td>
      </tr>
    </table>

  </div>
</div>
