<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add New API Call</h3>
        <div class="box-tools pull-right">
            </button>
            <!--<div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bars"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href ng-click="addDataset()">Add Dataset</a></li>
          <li><a href ng-click="addPeriod()">Add Period (Campaign)</a></li>

        </ul>
      </div>-->
        </div>
    </div>
    <div class="box-body">
        <form role="form">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="input">URL</label>

                        <input type="text" ng-model="idims.url" name="url" id="input" class="form-control" required>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="input">Type</label>

                        <div class="input-group">
                            <span class="input-group-addon">elastic</span>
                            <input type="text" class="form-control" ng-model="idims.type" placeholder="id" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="input">Prefix</label>
                        <input type="text" class="form-control" ng-model="idims.prefix" placeholder="prefix" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="input">Select Campaign</label>
                        <select class="form-control" ng-model="idims.campaign">
                            <option>SNID-OCT-16</option>
                            <option>NID-MAY-16</option>
                            <option>NID-SEP-16</option>
                            <option>SNID-JUL-16</option>
                            <option>SNID-AUG-16</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="input">Catagory</label>
                        <select class="form-control" ng-model="idims.catagory">
                            <option value="IDIMS">IDIMS</option>
                            <option value="LQAS">LQAS</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                    <label>SS(0-59)</label>
                    <input ng-model="idims.crone.ss" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                </div>
                <div class="form-group col-xs-2">
                    <label>MM(0-59)</label>
                    <input ng-model="idims.crone.mm" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                </div>
                <div class="form-group col-xs-2">
                    <label>HH(0-23)</label>
                    <input ng-model="idims.crone.hh" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                </div>
                <div class="form-group col-xs-2">
                    <label>Day(1-31)</label>
                    <input ng-model="idims.crone.day" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                </div>
                <div class="form-group col-xs-2">
                    <label>Month(0-11)</label>
                    <input ng-model="idims.crone.month" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                </div>
                <div class="form-group col-xs-2">
                    <label>Week(0-6)</label>
                    <input ng-model="idims.crone.week" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                </div>
                <!--<input type="number" ng-model="time" name="time" min="1" max="59" class="form-control col-md-2">-->
            </div>
        </form>
    </div>
    <div class="box-footer">
        <!--<button ng-click="executeCall()" class="btn btn-success pull-right">Execute</button>-->
        <button ng-click="addCall(idims)" class="btn btn-info pull-right">Add</button>
        <button ng-click="validateAPICall(idims)" class="btn btn-info pull-right">Validate</button>
    </div>
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">API Keys with datatype</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table ng-show="showkeyproperties" class="table table-bordered table-striped table-mapping">
            <thead>
                <th>Keys</th>
                <th>Data Type</th>
            </thead>
            <tr ng-repeat="(i, key) in IDIMSkeys">
                <td>
                    <!--<input type="text" ng-model="col" ng-value="col" disabled>-->
                    {{key.key}}
                </td>
                <td>
                    <select class="form-control" ng-model="key.datatype">
                        <option ng-selected="key.datatype" value="{{key.datatype}}">{{key.datatype}}</option>
                        <option>String</option>
                        <option>Date</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">saved calls</h3>
    </div>
    <!--<form>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input type="text" class="form-control" placeholder="Search Calls" ng-model="searchFish">
			</div>
		</div>
	</form>-->
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>ES Type</th>
                    <th>Campaign</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="call in escalls track by $index">
                    <td class="col-md-6">{{call.url}}</td>
                    <td class="col-md-2">{{call.type}}</td>
                    <td class="col-md-2">{{call.campaign}}</td>
                    <td class="col-md-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href ng-click="fetchApiData(call)">Fetch Data</a></li>
                                <!--<li><a href >Schedule</a></li>-->
                                <li><a href ng-click="advanceEdit(call)">Advance Edit</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
