<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active"><a ui-sref="elasticimport.api">API</a></li>
        <li ui-sref-active="active"><a ui-sref="elasticimport.csv">CSV</a></li>
<!--
        <li class="pull-right"><a class="text-muted"><i class="fa fa-gear"></i></a></li>-->
    </ul>
    <div class="tab-content">
        <div ui-view></div>
        <!-- /.tab-content -->
    </div>
</div>
