
<h1 class="text-center"><i class="fa fa-fighter-jet fa-2x" aria-hidden="true"></i><br>XpETL Tool</h1>

<!--<h3>Mapping</h3>-->
<!--<div class="row">-->

  <!--<div class="col-md-4">-->
    <!--<select class="form-control" ng-model="selectedmodel" ng-change="getmodelproperties(selectedmodel)">-->
      <!--<option ng-repeat="m in ALL_MODELS">{{m}}</option>-->
    <!--</select>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
    <!--<div class="col-md-9">-->
      <!--<a href ng-if="CSVdata.csvfile!='upload file'" ng-click="logdata(CSVdata.csvfile)" ng-model="csvfile">{{CSVdata.csvfile}}</a>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
      <!--<button class="btn btn-primary pull-right" ng-click="open('lg')"><i class="fa fa-upload" aria-hidden="true"></i> Upload File</button>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->

  <!--<div class="col-md-8">-->
    <!--<table class="table table-bordered table-striped table-mapping">-->
      <!--<thead>-->
        <!--<th>Table Columns</th>-->
        <!--<th>CSV Columns</th>-->
      <!--</thead>-->
      <!--<tr  ng-repeat="(i, col) in modelProperties">-->
        <!--<td>-->
          <!--&lt;!&ndash;<input type="text" ng-model="col" ng-value="col" disabled>&ndash;&gt;-->
         <!--{{col}}-->
        <!--</td>-->
        <!--<td>-->
          <!--<select class="form-control" ng-model="sourceData" ng-change="sourceChanged(sourceData, i)">-->
            <!--<option></option>-->
            <!--<option ng-repeat="column in csvcolumnsonly">{{column}}</option>-->
          <!--</select>-->
        <!--</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
    <!--<div class="form-group">-->
      <!--<label >Select Existing Template</label>-->

      <!--<select class="form-control" ng-model="selectedTemplate">-->
        <!--<option></option>-->
        <!--<option ng-repeat="template in existingtemplates">{{template.name.slice(0, -5)}}</option>-->
      <!--</select>-->
      <!--<button ng-click="importwithSelected(selectedTemplate, selectedmodel)" class="btn btn-success pull-right">Select</button>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label >Template Name</label>-->
      <!--<input class="form-control" type="text" ng-model="templateName">-->
    <!--</div>-->

    <!--<button ng-click="createtemplate(CSVdata.csvfile, selectedmodel, templateName)" class="btn btn-success pull-right">Create template</button>-->
  <!--</div>-->

<!--</div>-->
