<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Add Unit Data</h3>

    <div class="box-tools pull-right">
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bars"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href ng-click="addProgram()">Add Program</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="box-body">
    <form role="form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Programs</label>
            <select class="form-control" ng-model="newCall.datasetid">
              <option ng-repeat="dataSet in dataSets" value="{{dataSet.datasetid}}">{{dataSet.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label>Upload CSV</label>

          <div class="form-group">
            <a href ng-if="CSVdata.csvfile!='upload file'" ngf-max-size="20MB" ng-click="logdata(CSVdata.csvfile)"
               ng-model="csvfile">{{CSVdata.csvfile}}</a>
            <!--                </div>-->
            <!--                <div class="col-md-3">-->
            <button class="btn btn-primary pull-right" ng-click="open('lg')"><i class="fa fa-upload"
                                                                                aria-hidden="true"></i> Upload File
            </button>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-primary" ng-click="postTrackedEntityInstance(CSVdata.csvfile)">Post Tracked Entity Instance</button>
  </div>

</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Configure DataElements and Attributes</h3>

  </div>
  <div class="box-body">
    <form role="form">
      <div class="table table-bordered">
        <table class="table">
          <tr ng-repeat="cols in modelAtriments track by $index">
            <td>{{cols.csvcolumn}}</td>
            <td><select class="form-control" ng-model="type" ng-change="updatemodelAtriments($index, type)">
              <option>Attribute</option>
              <option>DataElement</option>
              <option>Both</option>
            </select></td>
          </tr>

        </table>
      </div>
      <!--<div class="form-group" ng-repeat="cols in csvcolumnsonly">-->
        <!--<label>{{cols}}</label>-->
        <!--<select class="form-control">-->
          <!--<option>Attribute</option>-->
          <!--<option>DataElement</option>-->
          <!--<option>Both</option>-->
        <!--</select>-->
      <!--</div>-->
  <button class="btn btn-primary" ng-click="saveelebutes(modelAtriments)">Save</button>
    </form>

  </div>

</div>


