<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Add New API Call</h3>
    <div class="box-tools pull-right">
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bars"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href ng-click="addDataset()">Add Dataset</a></li>
          <li><a href ng-click="addPeriod()">Add Period (Campaign)</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="box-body">
    <form role="form">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="input">URL</label>

            <input type="text" ng-model="newCall.url" name="url" id="input" class="form-control">

          </div>

        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="input">Type</label>

            <select class="form-control" ng-model="newCall.calltype" ng-change="setHeaders(newCall.calltype)">
              <option>IDIMS</option>
              <option>LQAS</option>
            </select>

          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="input">Select Campaign</label>

            <select class="form-control" ng-model="newCall.campaign">
              <option ng-repeat="period in periods" value="{{period.periodid}}">{{period.code}}</option>

            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Table Name</label>
            <input type="text" ng-model="newCall.tablename" name="table" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Data Set</label>
            <select class="form-control" ng-model="newCall.datasetid">
              <option ng-repeat="dataSet in dataSets" value="{{dataSet.datasetid}}">{{dataSet.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div style="margin-top: 24px;" class="checkbox">
            <label>
              <input type="checkbox" ng-model="newCall.addDataElement"> Add Data Elements
            </label>
          </div>

          <!--<div class="form-group">-->
            <!--<label>Add Data Elements</label>-->
            <!--<input type="checkbox" ng-model="newCall.addDataElement">-->
          <!--</div>-->
        </div>
        <div style="margin-top: 24px;">


          <button ng-hide="updatedata || isapivalidated" ng-click="validateAPICall(newCall)" class="btn btn-info">
            Validate Call
          </button>
          <button ng-hide="updatedata || !isapivalidated" ng-click="saveTemplate(newCall)" class="btn btn-success">Save
            Template
          </button>
          <button ng-show="updatedata" ng-click="editApiCallData(newCall)" class="btn btn-warning">Update</button>
          <button ng-show="updatedata" ng-click="newCall = {}; updatedata = false" class="btn btn-info">Rest</button>
        </div>

      </div>
    </form>
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">API Keys with datatype</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Add Dataset</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--<button ng-show="showkeyproperties" ng-click="showkeyproperties = false" class="btn btn-default">Show less options-->
        <!--</button>-->
        <!--<button ng-show="isapivalidated && !showkeyproperties" ng-click="showkeyproperties = true" class="btn btn-default">-->
          <!--Show more options-->
        <!--</button>-->
        <table ng-show="showkeyproperties" class="table table-bordered table-striped table-mapping">
          <thead>
          <th>Keys</th>
          <th>Data Type</th>
          </thead>
          <tr ng-repeat="(i, key) in IDIMSkeys">
            <td>
              <!--<input type="text" ng-model="col" ng-value="col" disabled>-->
              {{key.key}}
            </td>
            <td>
              <select class="form-control" ng-model="key.datatype">
                <option ng-selected="key.datatype" value="{{key.datatype}}">{{key.datatype}}</option>
                <!--<option>String</option>-->
                <!--<option>Number</option>-->
              </select>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!--Select Data type against api Keys-->

    <!--<div class="row">-->
    <!--<form class="form-inline">-->
    <!--<div class="container">-->
    <!--<div class="form-group">-->
    <!--<label>Table Name</label>-->

    <!--<input type="text" ng-model="modeltable" name="table" class="form-control">-->
    <!--</div>-->
    <!--<button ng-click="posturlwithTable(url,modeltable)" class="btn btn-success">Add</button>-->
    <!--</div>-->
    <!--</form>-->

    <!--</div>-->
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">API Calls</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>URL</th>
          <th>Table</th>
          <th>Capmaign</th>
          <th>Data Set</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="call in idimscall track by $index">
          <td><i ng-show="isAPIfetchingData" class="fa fa-refresh fa-spin fa-fw"></i> {{call.url}}</td>
          <td>{{call.tablename}}</td>
          <td>{{call.campaign}}</td>
          <td>{{call.datasetid}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-success" ng-click="fetchApiData(call)"><i class="fa fa-play"></i>
              </button>
              <!--<button type="button" class="btn btn-info" ng-click="editApiCall(call)"><i class="fa fa-pencil"></i></button>-->
              <button type="button" class="btn btn-danger" ng-click="deleteCallById($index)"><i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
