<h3>Mapping</h3>

<div id="tab-content">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Model</label>
        <select class="form-control" ng-model="selectedmodel" ng-change="getmodelproperties(selectedmodel)">
          <option ng-repeat="m in ALL_MODELS">{{m}}</option>
        </select>
      </div>

    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Source</label>
        <select class="form-control" ng-model="selectedMappingSource">
          <option ng-repeat="source in mappingSources">{{source}}</option>
        </select>
      </div>
      <button ng-if="selectedMappingSource == 'CSV'" ng-click="opencsvsettings()" class="btn btn-primary pull-right">csv settings</button>
    </div>
    <div class="col-md-4">
      <div ng-if="selectedMappingSource=='CSV'">
        <label>Upload CSV</label>
        <div class="form-group">
          <a href ng-if="CSVdata.csvfile!='upload file'" ng-click="logdata(CSVdata.csvfile)" ng-model="csvfile">{{CSVdata.csvfile}}</a>
          <!--                </div>-->
          <!--                <div class="col-md-3">-->
          <button class="btn btn-primary pull-right" ng-click="open('lg')"><i class="fa fa-upload" aria-hidden="true"></i> Upload File</button>
        </div>

        <!--<div ng-hide="skipduplicated" class="form-group">-->
          <!--<label>-->
            <!--<input ng-model="updateduplicated" type="checkbox">-->
            <!--Update duplicate keys-->
          <!--</label>-->
        <!--</div>-->
        <!--<div ng-hide="updateduplicated" class="form-group">-->
          <!--<label>-->
            <!--<input ng-model="skipduplicated" type="checkbox">-->
            <!--Skip duplicate keys-->
          <!--</label>-->
        <!--</div>-->



        <!--<div ng-show="updateduplicated || skipduplicated" class="form-group">-->
          <!--<label>Select Column</label>-->
          <!--<select class="form-control" ng-model="uniquecolumn" ng-change="setprimarykey(updateduplicated, skipduplicated,  uniquecolumn)">-->
            <!--<option></option>-->
            <!--<option ng-repeat="column in csvcolumnsonly">{{column}}</option>-->
          <!--</select>-->
        <!--</div>-->




      </div>
      <div ng-if="selectedMappingSource=='API'">

        <div class="form-group">
          <label>URL</label>
          <input class="form-control" type="text" ng-model="apiurl">
        </div>
      </div>
      <div ng-if="selectedMappingSource=='Database'">
        <div class="form-group">
          <label>Model</label>
          <select class="form-control" ng-model="sourcemodel">
            <option ng-repeat="m in ALL_MODELS">{{m}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-8">
      <table ng-show="selectedmodel" class="table table-bordered table-striped table-mapping">
        <thead>
        <th>Table Columns</th>
        <th>{{selectedMappingSource}} Columns</th>
        </thead>
        <tr ng-repeat="(i, col) in modelProperties">
          <td>
            <!--<input type="text" ng-model="col" ng-value="col" disabled>-->
            {{col}}
          </td>
          <td>
            <select class="form-control" ng-model="sourceData" ng-change="sourceChanged(sourceData, i)">
              <option></option>
              <option ng-repeat="column in csvcolumnsonly">{{column}}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <div class="section progress" ng-if="selectedMappingSource=='CSV'">
        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow= {{impProgress}} aria-valuemin="0" aria-valuemax="100" ng-style="{width: impProgress+'%'}">
          {{impProgress}} % <span class="sr-only"> {{impProgress}} % Complete (warning)</span>
        </div>
      </div>

      <tabs data="tabData" type="tabs"></tabs>
      <div>
        <ui-view></ui-view>
      </div>


    </div>

  </div>
</div>


