
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <form class="form">
        <div class="form-group">
          <label>Select Datasource</label>
          <select class="form-control" ng-model="selectedDS" ng-change="discoverDefinations(selectedDS)">
            <option ng-repeat="ds in resInstalledDS">{{ds}}</option>
          </select>
        </div>
      </form>

      <table class="table table-bordered">
        <tr>
          <th>Table</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="table in resDSModels">
          <td>{{table.name}}</td>
          <td>
            <!--<button ng-click="getModelProperties(table.name)" class="btn btn-primary btn-sm">Show</button>-->
            <button ng-click="createModel(table, selectedDS)" class="btn btn-success btn-sm">Expose Rest</button>
            <!--<button ng-click="importData(table)" class="btn btn-info btn-sm">Import Data</button>-->
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <ol>
        <li ng-repeat="property in modelProperties">{{property}}</li>
      </ol>
    </div>
  </div>
</div>
