<div class="row">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Add Cron Job</h3>
        </div>
        <div class="panel-body">
          <form role="form" ng-submit="addJob(url, ss+' '+ mm+' '+hh+' '+day+' '+month+' '+week, tablename, jobname)" class="ng-pristine ng-valid">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Job Name</label>
                  <input type="text" ng-model="jobname" name="jobname" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                </div>
                <div class="form-group">
                  <label>URL</label>
                  <input type="text" ng-model="url" name="url" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                </div>
                <div class="row">
                  <!--<label>Time</label>-->
                  <div class="form-group col-xs-2">
                    <label>SS(0-59)</label>
                    <input ng-model="ss" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>MM(0-59)</label>
                    <input ng-model="mm" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>HH(0-23)</label>
                    <input ng-model="hh" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>Day(1-31)</label>
                    <input ng-model="day" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>Month(0-11)</label>
                    <input ng-model="month" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>Week(0-6)</label>
                    <input ng-model="week" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <!--<input type="number" ng-model="time" name="time" min="1" max="59" class="form-control col-md-2">-->
                </div>
                <div class="form-group">
                  <label>Table</label>

                  <input type="text" ng-model="tablename" name="tablename" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                </div>
                <button type="submit" class="btn btn-primary">Add Job</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
