<div style="background-color: #fff;">
<table class="table table-bordered">
  <tr class="info">
    <td>Total Rows</td>
    <td>{{csvlog.total}}</td>
  </tr>
  <tr class="success">
    <td>Imported</td>
    <td>{{csvlog.done}}</td>
  </tr>
  <tr class="warning">
    <td>Remaining</td>
    <td>{{csvlog.remaining}}</td>
  </tr>
  <tr class="error">
    <td>bugs</td>
    <td>{{csvlog.errors}}</td>
  </tr>

  <tr class="danger">
    <td>Deleted</td>
    <td>{{csvlog.deleted}}</td>
  </tr>

</table>
</div>
