
<div class="form-group">
    <label>Select Existing Template</label>

    <select class="form-control" ng-model="selectedTemplate">
        <option></option>
        <option ng-repeat="template in existingtemplates">{{template.name.slice(0, -5)}}</option>
    </select>
</div>
    <button ng-click="importwithSelected(selectedTemplate, selectedmodel, CSVdata.csvfile)" class="btn btn-success pull-right">Start Import</button>
