
<tab-heading><title><i class="fa fa-plus" aria-hidden="true"></i>New</title></tab-heading>

<div class="form-group">
    <label>Create New Template</label>
    <input class="form-control" type="text" ng-model="templateName">
</div>
<div ng-hide="skipduplicated" class="form-group">
  <label>
    <input ng-model="updateduplicated" type="checkbox">
    Update duplicate keys
  </label>
</div>
<div ng-hide="updateduplicated" class="form-group">
  <label>
    <input ng-model="skipduplicated" type="checkbox">
    Skip duplicate keys
  </label>
</div>

<div ng-show="updateduplicated || skipduplicated" class="form-group">
  <label>Select Column</label>
  <select class="form-control" ng-model="uniquecolumn" ng-change="setprimarykey(updateduplicated, skipduplicated,  uniquecolumn)">
    <option></option>
    <option ng-repeat="column in csvcolumnsonly">{{column}}</option>
  </select>
</div>

<button ng-click="createtemplate(CSVdata.csvfile, selectedmodel, templateName)" class="btn btn-success pull-right">Create</button>
