<div class="modal-header">
  <h3 class="modal-title">Add Dataset</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label>Program Name</label>
        <input ng-model="programname" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
          <textarea ng-model="programdesc" type="text" class="form-control"></textarea>
      </div>

    </div>
  </div>


</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
