<div class="modal-header">
  <h3 class="modal-title">Add Period</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label>Period Type</label>
        <select class="form-control"  ng-model="typeid">
          <option ng-repeat="type in periodTypes" value="{{type.periodtypeid}}">{{type.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <input ng-model="startDate" type="date" class="form-control">
      </div>
      <div class="form-group">
        <label>End Date</label>
        <input ng-model="endDate" type="date" class="form-control">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input ng-model="code" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Year</label>
        <input ng-model="year" type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Month</label>
        <input ng-model="month" type="number" class="form-control">
      </div>

    </div>
  </div>


</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
