<div class="modal-content">
    <div class="modal-header">
        <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Edit Template Configurations</h4>
    </div>
    <div class="modal-body">
      <form role="form">
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="input">URL</label>

						<input type="text" ng-model="idims.url" name="url" id="input" class="form-control" required>

					</div>

				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="input">Type</label>

						<div class="input-group">
							<span class="input-group-addon">elastic</span>
							<input type="text" class="form-control" ng-model="idims.type" placeholder="id" required>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="input">Prefix</label>
						<input type="text" class="form-control" ng-model="idims.prefix" placeholder="prefix" required>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="input">Select Campaign</label>
						<select class="form-control" ng-model="idims.campaign">
                            <option >NID-MAY-16</option>
                            <option >NID-SEP-16</option>
                            <option >SNID-JUL-16</option>
                            <option >SNID-AUG-16</option>
                        </select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="input">Catagory</label>
						<select class="form-control" ng-model="idims.catagory">
                            <option >IDIMS</option>
                            <option >LQAS</option>
                        </select>
					</div>
				</div>
			</div>
             <div class="row">
                  <!--<label>Time</label>-->
                  <div class="form-group col-xs-2">
                    <label>SS(0-59)</label>
                    <input ng-model="idims.crone.ss" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>MM(0-59)</label>
                    <input ng-model="idims.crone.mm" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>HH(0-23)</label>
                    <input ng-model="idims.crone.hh" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>Day(1-31)</label>
                    <input ng-model="idims.crone.day" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>Month(0-11)</label>
                    <input ng-model="idims.crone.month" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <div class="form-group col-xs-2">
                    <label>Week(0-6)</label>
                    <input ng-model="idims.crone.week" class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
                  </div>
                  <!--<input type="number" ng-model="time" name="time" min="1" max="59" class="form-control col-md-2">-->
                </div>
		</form>
    </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
                <button type="button" ng-click="savechanges(idims)" class="btn btn-primary">Save changes</button>
            </div>

</div>
