<div class="modal-header">
  <h3 class="modal-title">CSV Settings</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label>Column delimiter</label>
        <input ng-model="delimiter" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Column Saperator</label>
        <input ng-model="quote" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>
          <input ng-model="hasheaders" type="checkbox">
          has headers
        </label>
      </div>
    </div>
  </div>


</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
