<div class="modal-header">
  <h3 class="modal-title">Error Log</h3>
</div>
<div class="modal-body">
    {{ErrLog}}
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
