<div class="modal-header">
  <h3 class="modal-title">Properties : {{discoveredSchema.name}}</h3>
</div>
<div class="modal-body">
  <table class="table table-bordered table-stiped">
    <tr>
      <th width="50%">Name</th>


    </tr>
    <tr ng-repeat="property in modelProperties">
    <td>{{property}}</td>
    </tr>
    </table>
</div>

<div class="modal-footer">

</div>
