<div class="modal-header">
  <h3 class="modal-title">upload csv</h3>
</div>
<div class="modal-body">
  <div nv-file-drop uploader="uploader">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
        {{ 'Upload files'  }}
        <span class="text-muted">You can just drag them in this window!</span>
      <span class="pull-right">
        <div class="file-input btn btn-xs btn-success btn-file">
          {{ 'Browse'  }}&hellip;
          <input nv-file-select type="file" uploader="uploader"/>
        </div>
      </span>
      </div>

      <table class="table table-bordered table-stiped">
        <tr>
          <th width="50%">Name</th>
          <th ng-show="uploader.isHTML5">Size</th>
          <th ng-show="uploader.isHTML5">Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat="item in uploader.queue">
          <td><strong>{{ item.file.name }}</strong>
          </td>
          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB
          </td>
          <td ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <div class="input-group pull-right btn-group btn-group-xs">
              <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                      ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span>
              </button>
              <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                      ng-disabled="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span>
              </button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      </table>

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-3">
            {{ 'Upload queue'  }}
            <small> {{ uploader.queue.length }} {{ 'in queue'  }}</small>
          </div>
          <div class="col-md-6">
            <div class="progress" style="margin-bottom: 0px;" ng-if="uploader.progress">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">
                {{uploader.progress}}%
              </div>
            </div>
          </div>
          <div class="col-md-3" class="text-nowrap">
            <div class="pull-right btn-group" class="text-nowrap">
              <a class="btn btn-success btn-xs" ng-click="uploader.uploadAll()"
                 ng-disabled="!uploader.getNotUploadedItems().length">
                {{ 'Upload' }}
              </a>
              <a class="btn btn-warning btn-xs" ng-click="uploader.cancelAll()"
                 ng-disabled="!uploader.isUploading">
                {{ 'Cancel'  }}
              </a>
              <a class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()"
                 ng-disabled="!uploader.queue.length">
                {{ 'Remove'  }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
